<!--Main Div which aligns content to center-->
<div align="center">

  <!-- Heading -->
  <h1>
    Welcome to {{ title }}!
  </h1>
   
  <!-- Form -->
  <label> Task:
    <input type="text" name="taskname" class="form-control" value="" [(ngModel)]="taskName">
  </label>
  <b>
  <label> Priority:
    <input type="text" name="priority" class="form-control" value="" [(ngModel)]="taskPriority">
  </label>

  <button class="btn btn-primary" type="reset" name="addTaskButton" (click)="onAddTask($event)" [disabled]="!buttonEnabled">Add Task</button>

  <p>{{numberOfTasks}} Task/Tasks Added</p>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Priority</th>
      </tr>
    </thead>

    <tr *ngFor ="let task of taskList; let i=index">
    <!-- <td *ngIf="taskEntered">{{taskList[1]}}
    </td>
    <td *ngIf="priorityEntered">{{priorityList[1]}}
    </td> -->
      <td>{{task}}</td>
      <td>{{priorityList[i]}}</td>
    </tr>
  </table>


